@model EdilitSoft.app.Models.Inventario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar datos en Inventario</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdArticulo" />
            <div class="form-group">
                <label asp-for="IdLibro" class="control-label">Título</label>

                <!-- Input de solo lectura que muestra el TÍTULO del libro -->
                <input type="text"
                       class="form-control"
                       value="@((ViewBag.IdLibro as SelectList)?.FirstOrDefault(x => x.Value == Model.IdLibro.ToString())?.Text)"
                       readonly />

                <!-- Campo oculto para mantener el IdLibro en el modelo al enviar el formulario -->
                <input type="hidden" asp-for="IdLibro" />

                <span asp-validation-for="IdLibro" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Existencias" class="control-label"></label>
                <input asp-for="Existencias" class="form-control" />
                <span asp-validation-for="Existencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" />
                    @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a inventario</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
