@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <form action="BooksApi/buscarISBN" method="post">
            <label>ISBN</label>
            <input type="text" name="ISBN" />
            <button type="submit">buscar isbn</button>
        </form>
    </div>


</div>
